a {
  color: rgb(126, 153, 99);
  font-size: 16px;
}

@media (min-width: 1024px) {
  a {
    font-size: 25px;
  }
}


li {
  margin-bottom: 20px;
}

h1 {
  color: rgb(37, 194, 76);
}

img {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

p {
    margin: 0;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  flex-direction: column;
  padding-left: 0;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
    margin-top: 0;
  }
}

.nav-links li {
  margin-bottom: 0;
}


.header .container {
  display: flex;
  flex-direction: column;
}


@media (min-width: 768px) {
  .header .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-title {
  margin-left: 20px;
  font-size: 25px;
}

@media (min-width: 768px) {
  .header-title {
  font-size: 32px;
  }
}

form {
    margin-bottom: 50px;
}

.table {
  width: 500px;
  margin: 50px 0;
}

@media (min-width: 768px) {
  .table {
    width: 100%;
  }
}

.wrapper-table {
  overflow: scroll;
  order: -1;
}

@media (min-width: 1024px) {
  .wrapper-table {
     overflow: visible;
     order: 0;
  }
}

td {
  text-align: center;
}

tbody tr {
  background: #6ebb8ced;
}

tbody tr:nth-child(2n) {
  background: #ffffff;
}

#fragment {
  color: rgb(0, 0, 0);
}

.footer {
    background-color: rgba(113, 187, 91, 0.832);
    padding: 50px 0;
}

.img-tabs {
  max-width: 100%;
}

@media (min-width: 1024px) {
  .img-tabs {
    max-width: initial;
  }
}

#biography {
  max-width: 100%;
}

@media (min-width: 1024px) {
  #biography  {
    max-width: initial;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}
