a {
  color: rgb(126, 153, 99)!important;
  font-size: 16px;
}

@media (min-width: 1024px) {
  a {
    font-size: 25px;
  }
}

h1 {
  color: rgb(37, 194, 76)!important;
}

img {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
    margin: 0;
}

.nav-links {
  gap: 20px;
  list-style-type: none;
}

.header-title {
  font-size: 25px;
}

@media (min-width: 768px) {
  .header-title {
  font-size: 32px;
  }
}

.table-table {
  width: 500px!important;
}

@media (min-width: 768px) {
  .table-table {
    width: 100%!important;
  }
}

.wrapper-table {
  overflow: scroll;
}

@media (min-width: 1024px) {
  .wrapper-table {
     overflow: visible;
  }
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-bg-type: #6ebb8ced!important;
}

#fragment {
  color: rgb(0, 0, 0);
}

.footer {
    background-color: rgba(113, 187, 91, 0.832);
}

.img-tabs {
  max-width: 100%;
}

@media (min-width: 1024px) {
  .img-tabs {
    max-width: initial;
  }
}

#biography {
  max-width: 100%;
}

@media (min-width: 1024px) {
  #biography  {
    max-width: initial;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.calculator-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}

.swiper {
  margin-bottom: 40px;
}

div.swiper-button-prev, div.swiper-button-next {
  color: rgba(113, 187, 91, 0.832);;
}
.cat{
  width: 100px;
  height: 100px;
}





